body {
	padding: 0;
	margin: 0;
	background: #1a1a1a;
	color: white;
	font-family: comfortaa, arial;
}

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: 0;
	display: flex;
	flex-direction: column;
}

.hero {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 48vw;
	height: 25vw;
	position: relative;
	border-radius: 1vw;
	overflow: hidden;
	box-shadow: 0 0 1vw black;
	border: .2vw solid rgba(255, 255, 255, .5);
}

.content__before {
	height: 100%;
	width: 2.6vw;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1vw 0 0 1vw;
	overflow: hidden;
	background: rgba(0, 0, 0, .5);
}

.content__before:hover {
	background: rgba(0, 0, 0, .6);
}

.content__before:hover .content__before-btn-ico {
	transform: scale(1.1, 1.1);
	transition: .2s;
}

.content__before-btn {
	background: transparent;
	height: 100%;
	border-radius: 1vw 0 0 1vw;
	border: none;
	outline: none;
	cursor: pointer;
}

.content__before-btn-ico {
	width: 100%;
	height: 20%;
	background-repeat: no-repeat;
}

.content__hero {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -5;
}

.content__hero-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-repeat: no-repeat;
}

.content__after {
	height: 100%;
	width: 2.6vw;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0 1vw 1vw 0;
	overflow: hidden;
	background: rgba(0, 0, 0, .5);
}

.content__after:hover {
	background: rgba(0, 0, 0, .6);
}

.content__after:hover .content__after-btn-ico {
	transform: scale(1.1, 1.1);
	transition: .2s;
}

.content__after-btn {
	background: transparent;
	height: 100%;
	border-radius: 0 1vw 1vw 0;
	border: none;
	outline: none;
	cursor: pointer;
}

.content__after-btn-ico {
	width: 100%;
	height: 20%;
	background-repeat: no-repeat;
}

.footer {
	background: black;
	padding: 2.6vw;
}

.footer__content {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0 1vw;
}

.footer__content-text {
	color: white;
	font-size: 2.2vw;
	animation: text 4s infinite;
	letter-spacing: .02009vw;
}

@keyframes text{
	0%,100%{
		text-shadow: 2.5px 2.5px 2px white;
	}
	2%{
		text-shadow: -18px -8px 2px white;
	}
	3%{
		text-shadow: 8px -5px 2px white;
	}
	4%{
		text-shadow: -12px -8px 2px white;
	}
	5%{
		text-shadow: 10px -4px 2px white;
	}
	6%{
		text-shadow: -10px -8px 2px white;
	}
	7%{
		text-shadow: -3px -3px 2px white;
	}
}

.footer__content-block {
	width: 4.2vw;
	height: 4.2vw;
	box-shadow: 0 0 .1vw white;
	border-radius: 100%;
	animation: dragon 4s infinite;
}

@keyframes dragon{
	0%,100%{
		box-shadow: 0 0 .5vw white;
	}
	50%{
		box-shadow: 0 0 0;
	}
}

.footer__content-block-img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

::-webkit-scrollbar {
	width: 0;
}
